In [57]:
import pandas as pd

In [58]:
# Read the file
data = pd.read_csv('toronto_temperature_cleaned.csv')

In [59]:
# extract the year
data['year'] = pd.to_datetime(data['dt']).dt.year
data.drop_duplicates(subset='year', inplace=True)

In [60]:
data.to_csv("test.csv")

In [54]:
# Group by year and calculate the average temperature for each year
average_temperatures = data.groupby('year')['AverageTemperature'].mean()
print(len(data['year']))
print(len(average_temperatures))
print(average_temperatures.head)

267
267
<bound method NDFrame.head of year
1743    -0.106
1744     5.892
1745    -7.625
1750    -8.613
1751    -8.283
         ...
2009   -10.656
2010    -7.137
2011    -9.348
2012    -3.955
2013    -4.681
Name: AverageTemperature, Length: 267, dtype: float64>

In [55]:
df1 = pd.DataFrame({
    'Year': data['year'], 
    'Average Temperature': average_temperatures
})

In [ ]:
d

In [56]:
df1.to_csv('toronto_average_temperatures_final.csv', index=False)